# distutils MANIFEST template, see:
# http://docs.python.org/distutils/sourcedist.html#the-manifest-in-template

include TODO
graft doc/
graft dbus/
graft policykit/
include backend/urpmi_backend.pl
include backend/resolve.pl
